*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* primary main #95E5FF
   secondary low #003D5A
*/
body{
    font-family: 'Urbanist', sans-serif;
}
main{
    background: white;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px; 
}
button{
    font-family: 'Urbanist', sans-serif;
}
.btnyellow, .gallerybutton a, form button{
    background-color: #000;
    color: #FFF;
}
.btnyellow:hover, .gallerybutton a:hover, .videop .gallerybutton a:hover, form button:hover{
    background-color: #FFDE2E;
    color: #000;
}
.buttonreview a svg{
    fill: #fff;
}
.buttonreview a:hover svg{
    fill: #000;
}
.videocontainer{
    position: relative;
    display:flex;
    flex-direction: column;
    width:100%;
    max-width:100%;
    max-height: 800px;
}
.videoimg {
    display: block;
    width: 100%;
    object-fit: cover;
}
.videobg::after {
    content: '';
    inset: 0;
    background:linear-gradient(0deg, #000 0%, #00000000 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    bottom: -1px;
    position: absolute;
}
.videop{
    display: flex;
    flex-direction: column;
    position: absolute;
    width:100%;
    max-width: 700px;
    margin: auto;
    padding: 0 50px 0 50px;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}
.videop p{
    color: #fff;
    width: 620px;
    height: auto;
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding-top: 40px;
}
.videop small{
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}
.videop .gallerybutton a{    
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    align-items: center;
    padding: 8px 0px;
    width: 250px;
    background-color: #000;
    border-radius: 20px;
    border: none;
    margin: auto;
    margin-top: 32px;
}
.videop .gallerybutton a{
    text-decoration: none;
}
@media screen and (max-width:900px) {
    .videocontainer{
        height:600px;
    }
    .videoimg {
        height: 600px;
    }
    .videop{
        padding: 0 20px 0 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
    }
    .videop p{
        width: 100%;
        max-width: 460px;
        font-size: 30px;
    }
    .videop small{
        font-size: 16px;
    }
}
:root {
    --swiper-navigation-color: #eee;
    --swiper-pagination-color: #ffe02e65;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
}
swiper-container {
  width: 100%;
  height: 100%;
}
.ratingscontainer{
    background-color: #000000;
    padding: 8px 0 60px;
    z-index: 8;
    position: relative;
}
.ratings{
    display: flex;
    width: 100%;
    max-width: 638px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -200px;
}
.swiperfirst{
    position:relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
    height: 100%;
    z-index: 9;
}
.mySwiper1{
    display: block;
    position:absolute;
    width: 100%;
    max-width: 100%;
    margin: auto;
    top: -50px;
    background-color: #ffffff10;
    overflow: hidden;
    scroll-behavior: smooth;
    cursor: grab;
    height: 50px;
}
.swiper {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: dotted;
  color: #fff;
    width: auto;
    white-space: nowrap;
    gap: 12px;
}
.swiper img{
    width: 100%;
    max-width: 30px;
}
.servicescontainer{
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
    background-color: #111111;
    padding: 90px 0 120px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.paymentsinfos{
    padding-top: 0 !important;
}
.paymentsinfos .partnersgrid{
    max-width: 640px !important;
}
.paymentsinfos h2{
    display: flex;
    align-items: center;
    gap: 24px;
    color: #FFF;
    font-family: 'Urbanist';
    font-size: 15.804px;
    line-height: 140%;
    font-weight: 700;
}
.servicesinfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 792px;
    margin: auto;
    color: #fff;
    gap: 5px;
    margin-bottom: 0px;
}
.servicesinfo h2{
    color: #FFDE2E;
    font-size: 24px;
    line-height: 120%;
}
.servicesinfo h6{
    font-size: 32px;
    line-height: 130%;
    
}
.servicesinfo p{
    font-size: 16px;
    line-height: 150%;
    
}
.mySwiper2 {
  width: 100%;
  height: 520px;
  max-width: 100%;
  cursor: grab;
  margin: 0 auto !important;
}
.swiper2 {
  width: 100%;
  max-width: 310px;
  height: 100%;
  max-height: 470px;
  margin: auto;
  background-color: #fff;
  border-radius: 24px;
  margin-left: 10px;
  margin-bottom: 60px;
}
.sercardinfo{
    position: absolute;
    bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 24px;
}
.swiper2:hover {
  box-shadow: 8px 8px 16px #333; 
  transition: 0.2s ease-in;
}
.sercardinfo h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
}
.sercardinfo p{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 8px;
}
.sercardinfo .btnservice{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 190px;
    list-style: none;
    color: #000;
    border-radius: 100px;
    padding: 16px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 80%;
    text-decoration: none;
    gap: 5px;
    background-color: #E7E7E7;
    border: 1px solid #6B6B6B;
}
.btncardserv svg{
    fill: #000;
}
.swiper2 img {
  position: absolute;
  width: 100% !important;
  margin: auto;
  max-height: 171px;
  object-fit: cover !important;
  top: 0;
  margin-bottom: 0;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.cardblack{
    background-color: #000;
    color: #fff;
}
.cardyellow{
    background-color: #FFC824;
    color: #000;
}
.cardgrey{
    background-color: #C7C7C7;
    color: #000;
}
.carddarkwhite{
    background-color: #fff;
    color: #000;
}
.sercardinfo .btnservice:hover{
    background-color: #FFC824;
}
@media screen and (max-width:1000px) {
    .paymentsinfos h2{
        gap: 16px;
        font-size: 14px;
    }
    .paymentsinfos .partnersgrid{
        gap: 8px !important;
    }
    .servicescontainer{
        padding-bottom: 30px;
    }
    .servicesinfo{
        padding: 0 20px;
    }
    .servicesinfo h2{
        font-size: 20px;
    }
    .servicesinfo h6{
        font-size: 28px;        
    }
    .servicesinfo p{
        font-size: 14px;
    }
    .mySwiper2 {
      height: 580px;
    }
    .swiper2 {
      max-width: 80vw;
      margin-left: 0;
      margin-top: 50px;
    }
    .ratings{
        justify-content: center;
        column-gap: 20px;
        margin-top: -100px;
    }
    .ratings img{
        max-width: 100px;
        object-fit: cover;
    }
}
.aboutcontainer{
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 100px 0;
    background: url(../assets/aboutbg-w.jpg) no-repeat;
    background-position: 100%;
    background-size: cover;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 0 50px;
}
.aboutimg img{
    width: 100%;
    max-width: 377px;
}
.aboutinfos{
    color: #fff;
}
.aboutinfos h2{
    color: #FFDE2E;
    font-size: 24px;
    line-height: 120%;
    font-weight: bold;
}
.aboutinfos h6{
    font-size: 32px;
    line-height: 130%;
    font-weight: bold;
    margin-bottom: 32px;
}
.aboutinfos p{
    max-width: 563px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
}
.aboutgrid{
    width: 100%;
    max-width: 840px;
    margin: auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.preferencecard{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: transparent;
    margin: auto;
    width: 100%;
    max-width: 300px;
    border-radius: 20px
}
.preferencecard img{
    display: block;
    max-width: 112px;
}
.preferencecard h5{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    margin-top: 24px;
    color: #fff;
}
@media screen and (max-width:900px) {
    .about{
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
    }
    .aboutimg img{
        margin-bottom: 36px;
    }
    .aboutinfos h2{
        font-size: 20px;
    }
    .aboutinfos h6{
        font-size: 28px;
    }
    .aboutinfos p{
        font-size: 14px;
    }
    .aboutgrid{
        flex-direction: column;
        gap: 36px;
    }
    .preferencecard img{
        max-width: 82px;
    }
    .preferencecard h5{
        font-size: 20px;
    }
}
.gallerycontainer{
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 80px 0 40px 0;
    background-color: #FFDE2E;
}
.galleryinfos{
    color: #000;
    width: 100%;
    max-width: 799px;
    margin: auto;
    margin-bottom: 50px;
}
.galleryinfos h2{
    font-size: 24px;
    font-weight: bold;
    line-height: 120%;
}
.galleryinfos h6{
    font-size: 32px;
    font-weight: bolder;
    line-height: 130%;
    max-width: 532px;
}
.galleryinfos small{
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}
.gallerygrid{
    padding: 40px 0 0;
    margin: auto;
}
.mySwiper3 {
  width: 100%;
  height:460px;
  max-width: 100%;
  cursor: grab;
  margin: 0 auto !important;
}
.swiper3 {
  width: 100%;
  max-width: 520px;
  height: 100%;
  margin: auto;
  margin-bottom: 40px;
}
.swiper3 img {
  width: 100% !important;
  max-width: 518px;
  height: 430px;
  border-radius: 24px;
  margin: auto;
  object-fit: cover !important;
}
@media screen and (max-width:900px) {  
    .mySwiper3 {
      height:290px;
    }
    .swiper3{
      max-width: 390px;
    }
    .swiper3 img {
      max-width: 390px;
      height: 290px;
    }
}

/* 
    POPUP GALERIA !!!
 */
.mySwiper4{
    display: block;
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    scroll-behavior: smooth;
    cursor: grab;
    height: 480px;
}
.swiper4 {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: dotted;
  color: #fff;
    width: auto;
    white-space: nowrap;
    gap: 12px;
}
 .gallerygrid{
    display: flex;
    overflow: hidden;
}
.imgsmall{
    max-width: 250px;
    margin: 20px 0;
}
.imgbig{
    max-width: 1100px;
}
.disable{
    display: none;
}
.gallerybutton{
    display: flex;
    justify-content: center;
    width: 250px;
    margin: auto;
}
.gallerybutton a{
    display: flex;
    justify-content: center;
    width: 250px;
    margin: auto;
    margin-top: 50px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding: 10px 16px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
}
@media screen and (max-width:900px) {
    .gallerycontainer{
        padding: 80px 0 40px 0;
    }
    .gallerycontainer .preference{
        padding: 0 20px;
    }
    .galleryinfos h2{
        font-size: 20px;
    }
    .galleryinfos h6{
        font-size: 28px;
    }
    .galleryinfos small{
        font-size: 14px;
    }
}
/* IG CONTAINER */
.ig-embed{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 80px 0;
}
.ig-embed h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 32px;
}
.ig-embed h2 span{
    margin-top: 30px;
}
.ig-embed iframe{
    width:900px; 
    height:820px;
}
@media screen and (max-width:980px) {
    .ig-embed iframe{
        width:500px; 
        height:450px;
    }    
}
@media screen and (max-width:580px) {
    .ig-embed{
        padding-bottom: 30px;
    }
    .ig-embed iframe{
        width:100%;
        max-width: 400px; 
        height: 480px;
    }    
}
.reviewcontainer{
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 60px 0 50px 0;
    background-color: #000000;
}
.reviewp{
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
    max-width: 359px;
    margin: auto;
    text-align: center;
    gap: 18px;
    padding-bottom: 60px;
}
.reviewp h2{
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
}
.reviewp h6{
    font-size: 32px;
    font-weight: bold;
    line-height: 120%;
    z-index: 9;
}
.reviewp img{
    position: absolute;
    display: block;
    width: 299px;
    justify-content: center;
    top: 73px;
    left: 85px;
    z-index: 0;
    opacity: 90%;
}
.reviewp small{
    width: 100%;
    max-width: 244px;
    margin: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
}
/* .mySwiper3{
    display: block;
    position:relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    scroll-behavior: smooth;
    cursor: grab;
    height: auto;    
}
.swiper3{
    width: auto;
    gap: 12px;
    width: 807px;
    height: 100%;
    max-height: 550px;
    padding-bottom: 40px;
    margin-left: 5px;
    margin-right: 5px;
}
.swiper3 img{
    height: 100%;
    width: 100%;
}*/
.buttonreview{
    display: flex;
    justify-content: center;
    width: 230px;
    margin: auto;
}
.buttonreview a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    margin: auto;
    margin-top: 50px;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 30px;
    font-size: 16px;
    border: 1px solid #fff;
    font-weight: 700;
}
.buttonreview a svg{
    margin-right: 10px;
} 
@media screen and (max-width:980px) {
    .reviewp{
        max-width: 449px;
        padding: 0 50px 60px 50px;
    }
    .reviewp h2{
        font-size: 20px;
    }
    .reviewp h6{
        font-size: 28px;
    }
    .reviewp img{
        width: 259px;
        top: 65px;
        left: 145px;
    }
    .reviewp small{
        font-size: 14px;
    }
}
@media screen and (max-width:680px) {
    .reviewcontainer{
        overflow: hidden;
    }
    .reviewp{
        position: relative;
        max-width: 300px;
        padding: 0 0 60px 0;
    }
    .reviewp img{
        width: 249px;
        top: 67px;
        left: 65px;
    }
}
.preferencecontainer{
    position:relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: auto;
    justify-content: center;
    padding: 0 50px 114px;
}
.preference{
    width: 100%;
    max-width: 467px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.preference h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}
.preference h3{
    font-size: 32px;
    font-weight: 800;
    line-height: 130%;
}
.preference p{
    font-size: 16px;
    font-weight: bold;
    line-height: 150%;
}
.preferencecontainer img{
    width: 100%;
    max-width: 830px;
    margin: auto;
    margin-top: 37px;
}
@media screen and (max-width:980px) {
    .preferencecontainer{
        padding: 0 20px 54px;
    }
    .preference h2{
        font-size: 22px;
    }
    .preference h3{
        font-size: 30px;
    }
    .preference p{
        font-size: 16px;
    }
    .preference img{
        width: 259px;
    }
}
.formgrid{
    position:relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: auto;
    background: url(../assets/formbg-w.jpg) no-repeat;
    background-position: 100%;
    background-size: cover;
    /* background-size: 100%; */
    padding: 130px 50px;
}
.formp{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 899px;
    margin: auto;
}
.formp h2{
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    line-height: 130%;
}
.formp p{
    color: #FFDE2E;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
}
.formp img{
    color: #fff;
    width: 230px;
    margin: auto;
    margin-bottom: 30px;
}
form {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width:750px;
    max-width: 100%;
    margin: auto;
    height: 620px;
    background-color: #FFF;
    border-radius: 8px;
    padding: 16px;
    margin-top: 30px;
}
.popuphome form{
    height: 440px;
    margin-top: 20px;
}
.formgroup{
    display: flex;
    gap: 10px;
}
#form input, textarea, select{
    width: 100%;
    list-style: none;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #333333d8;
    resize: none;
}
#form input{
    height:  46px;    
}
select{
    padding: 10px;
}
form button{
    margin-top: 15px;
    width: 120px;
    list-style: none;
    border-radius: 16px;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;    
    border: 1px solid #000;
}
form button:hover{
    transition: 0.1s;
}
#form input:focus, #form textarea:focus{
    outline: 1px solid #fff;     /* oranges! yey */
}
/* .formgroupcheckbox{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.checkbox{
    display: flex;
    gap: 10px;
    max-width: 170px;
}
.checkbox input{
    max-width: 15px;
} */
label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #333333;
}
select option{
    color: #111111;
}
select{
    color: #969696;
}
@media screen and (max-width:980px) {
    .formp h2{
        font-size: 35px;
    }
    .formp p{
        font-size: 14px;
    }
    .formgrid{
    padding: 130px 20px;
    }
    .formgroupcheckbox{
        gap: 0;
        column-gap: 10px;
    }
    .checkbox{
        gap: 10px;
        width: 100px;
        align-items: center;
    }
    .checkbox input{
        max-width: 15px;
    }
    .checkbox label{
        font-size: 11px;
    }
}
.mapscontainer{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin: auto;
    background-color: #FFDE2E;
    padding: 48px 0 86px;
}
.mapsfooter, .partnersgrid{
    display: flex;
    width: 100%;
    max-width: 799px;
    margin: auto;
    justify-content: space-between;
}
.mapscontainer iframe{
    max-width: 500px;
    max-height: 350px;
    border-radius: 9px
}
.mapsfooter .mapinfo ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: auto;
    margin-top: 23px;
    list-style: none;
}
.mapinfo ul li h2{
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
}
.mapinfo ul li a{
    margin-top: 8px;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    line-height: 150%;
}
.mapinfo ul li p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.partnersinfos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 32px;
}
.partnersinfos h2{
    font-family: 'Urbanist';
    font-size: 32px;
    line-height: 130%;
    font-weight: 700;
}
.partnersgrid{align-items: center; flex-wrap: wrap;max-width: 450px;}
.partnersinfos .partnerlogo{
    object-fit: cover;
    height: 100%;
}
.ernstlogo{
    max-width: 70px;
}
@media screen and (max-width:800px) {
    .mapscontainer{
        padding: 48px 0;
    }
    .mapsfooter{
        flex-direction: column;
        padding: 0 20px;
    }
    .mapscontainer iframe{
        display: block;
        width: 100%;
        margin: auto;
    }
    .mapsfooter .mapinfo ul{
        text-align: center;
    }
    .mapinfo ul li h2{
        font-size: 20px;
    }
    .mapinfo ul li a{
        font-size: 14px;
    }
    .mapinfo ul li p{
    font-size: 14px;
    }
    .partnersgrid{
        gap: 5px;
        justify-content: center;
    }
    .decologo{max-width: 150px;}
}
.popuptest{
    position: relative;
    background-color: #000;
    width: 100%;
    max-width: 100%;
    margin: auto;    
}
/* .popup1{
    background: url(../assets/1.jpg) no-repeat;
    background-position: 100%;
    background-size: cover;
}
.popup2{
    background: url(../assets/2.jpg) no-repeat;
    background-position: 100%;
    background-size: cover;
}
.popup3{
    background: url(../assets/3.jpg) no-repeat;
    background-position: 100%;
    background-size: cover;
}
.popup4{
    background: url(../assets/4.jpg) no-repeat;
    background-position: 100%;
    background-size: cover;
}
.popup5{
    background: url(../assets/5.jpg) no-repeat;
    background-position: 100%;
    background-size: cover;
}
.popup6{
    background: url(../assets/6.jpg) no-repeat;
    background-position: 100%;
    background-size: cover;
}
.popup7{
    background: url(../assets/7.jpg) no-repeat;
    background-position: 100%;
    background-size: cover;
} */
.popuptest::after {
    content: '';
    inset: 0;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 2.84%, #000 100%) no-repeat;
    background-size: 100%;
    background-position: bottom;
    bottom: -1px;
    position: absolute;
}
.popupgrid{
    display: flex;
    width: 100%;
    max-width: 996px;
    margin: auto;
    justify-content: center;
}
.popup .content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    gap: 32px;
    padding: 200px 0 32px 0;
    color: #fff;
}
.popupimg{
    display: flex;
    width: 100%;
    max-width: 1090px;
    margin: auto;
    object-fit: cover;
    padding: 32px 0 100px;
}
.callpopup{
    background-color: #FFDE2E;
}
.callpopup a{
    color: #000;
}
.callpopup{
    border: 1px solid #000;
}
.callpopup a svg path{
    stroke: #000;
}
.callpopup:hover{
    background-color: #fff;
}
.popup .content h1{
    font-size: 56px;
    font-weight: 600;
    line-height: 120%;
}
.popup .content p{
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    max-width: 510px;
    margin: auto;
}
.popupimgm{display: none;}
@media screen and (max-width:800px) {
    .popuptest{
    padding-bottom: 100px;
    }
    .popupgrid{
        padding: 0px 10px 0;
    }
    .popupimg{display: none;}
    .popupimgm{
        display: block;
        width: 100%;
        max-width: 350px;
        margin: auto;
        padding: 0;
    }
}
.popuphome{
    width: 100%;
    /* position: absolute; */
    position: fixed;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    display: none;
    text-align: center;
    z-index: 9;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro */
    height: 100%;
    justify-content: center;
    align-items: center;
}
.popupcontent{
    background-color: #ffffff;
    max-width: 450px;
    padding: 30px 20px;
    border-radius: 8px;
    font-family: "Urbanist",sans-serif;
}
.popuphome .close{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #969696;
    border: none;
    outline: none;
    cursor: pointer;
}
.popuphome .formp h2, .popuphome .formp p{
    color: #000000;
}
.popuphome a{
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
}
@media screen and (max-width:800px) {
    .popup{
        max-width: 96%;
        padding: 20px;
    }
    .popup #form{
        padding: 0;
    }
    .popupcontent{
        max-width: 95%;
        padding: 20px;
    }
    .popupcontent form{
        padding: 0;
    }
    .popuphome{
        padding: 10px;
    }
    .popuphome form{
        height: 280px;
        margin-top:0px;
    }
    .popuphome #form input{
        height:  26px;    
        padding: 10px;
    }
    .popuphome .close{
        margin: auto;
        margin-right: 10px;
    }
}
a{
    text-decoration: none;
    color: inherit;
}
